.puzzle-container {
    width: 900px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
    


.puzzle-container__results {
    width: 100%;
    height: 433px;
    // background-color: gray; 
    border: 3px solid black;
    background-size: 900px 433px;
}

.result-sentence {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.word {
    display: inline-block;
    -webkit-text-stroke: 0.6px white;
    font-weight: 1000;
}
.mask {
    width: 20px;
    height: 40px;
}

.word-container {
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    background-size: 900px 427px ;
}

.word-container_check-right {
    border: 3px solid #3cc206;
}
.word-container_check-false {
    border: 3px solid red;
}
.word-container:last-child {
    margin-right: 0px;
}

.puzzle-container__workspace {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
}

.word-container-cont {
    width: 100%;
}

.puzzle-container__buttons-container {
    display: flex;
}
.button-container {
    margin-top: 20px;
    margin-right: 10px;
}
.button {
    @extend %font-add;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: deepskyblue;
}
